<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <input name="tieude" placeholder="nhap tieu de" type="text">
      <input name="mota" placeholder="nhap mo ta" type="text">
      <input type="file" name="file"/>
      <button type="submit">OK</button>
      <input type="submit" value="upload">
    </form>
  </body>
</html>
